
.main{
    .section{
        &__video{
            .video-wrap{
                position:relative;
                width:100%;
                video{
                    position: absolute;
                    width:100%;
                    top:300px;
                    scroll-padding-block-end:100%;
                }
            }
        }
    }
    
}