
.main{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    .section{
        &__video{
            transition: all 0.3s;
            // transform: translateY(-2vw);
            .video-wrap{
                position:relative;
                width:100%;
                video{
                    position: absolute;
                    width:100%;
                    top:40vw;
                    padding-bottom:100%;
                    z-index: 1;
                    border:1px solid
                }
            }
        }
    }
    
}