
.main{
    // display: flex;
    // flex: 1 1 auto;
    // flex-direction: column;
    .section{
        &__video{
            margin-top:40vmin;
            transition: all 0.3s;
            // transform: translateY(-2vw);
            .video-wrap{
                position:relative;
                width:100%;
                padding-bottom: 51.6%;
                line-height: 0;
                video{
                    position: absolute;
                    width:100%;
                    padding-top:1rem;
                    top:0;
                    height: 100%;
                    // padding-bottom:100%;
                    z-index: 1;
                    border:1px solid;
                }
                @include media-breakpoint-down(sm){
                    margin-top:20vh;
                    padding-bottom: 137%;
                }
            }
        }//__video

        &__cases{
            .text-animation{
                margin-top:10vmax;
                opacity:0;
                will-change: opacity;
                transition: opacity 1s  cubic-bezier(0.645, 0.045, 0.355, 1);;
                font : {
                    size : 5vmax;
                    weight: 600;
                }
            }
        }
    }
    
}