@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
    font-family: 'Josefin Sans', sans-serif;
}


.form-group{
    > *{
        display:block;
    }
}

.custom-input{
    outline: 0;
    border: 0;
    width:100%;
    border-bottom:1px solid $black;
    padding:0.5rem 0.75rem;
    background:transparent!important;
    &:focus{

    }
    &:-internal-autofill-selected {
        background-color: transparent!important;
    }
}


.custom-button{
    border:1px solid $black;
    position:relative;
    display:block;
    &.main-btn{
        font : {
            weight:900;
        }
        color:$white;
        &::before{
            transition:all 0.4s;
            content: '';
            display:block;
            position:absolute;
            top:0;
            left:0;
            width:0;
            height:100%;
        }
        &:hover, &:checked{
            color:$primary;
            &::before{
                width:100%;
                background: $white;
            }
        }
    }
}

.bubbb{
    display: block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    border: 1px solid #0dbed5;
    text-indent: 30px;
    font-family: "Montserrat";
    color: #0dbed5;
    position: relative;
    &::before{
        content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0dbed5;
    z-index: -1;
    transition: all .3s;
    -webkit-transition: all .3s;
    }
    &:hover{
        color: #fff;
        &::before{
            width: 100%;
        }
    }
}



















